.Site__Container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  height: 768px;
  font-size: 1.15rem;
}
.Site__Title {
  flex: none;
  writing-mode: vertical-rl;
  color: white;
  text-align: end;
  font-size: 2.6em;
  margin: 20px 20px 20px 20px;
}
.Site { 
  border: 10px solid white;
  border-radius: 15px;
  color: white;
  margin-bottom: 20px;
  font-size: 1em
}
.Site__Author {
  flex: none;
  width: 32%;
  display: block;
  margin: 20px 20px;
  color: white;
  text-align: center;
  font-size: 1em;
}

@media only screen and (max-device-width: 480px) {
  body {
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }
  .Site {
    width: 100vw !important;
    height: 100vh !important;
  }
}

.Site--Galaxy-S5 {
  width: 360px;
  height: 640px;
}
.Site--Pixel-2 {
  width: 411px;
  height: 731px;
}
.Site--Pixel-2-XL {
  width: 411px;
  height: 823px;
}
.Site--iPhone-5-SE {
  width: 320px;
  height: 568px;
  font-size: 1rem;
}
.Site--iPhone-6-7-8 {
  width: 375px;
  height: 667px;
}
.Site--iPhone-6-7-8-Plus {
  width: 411px;
  height: 736px;
}
.Site--iPhone-X {
  width: 375px;
  height: 812px;
}

.Site {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.45fr 0.45fr 1fr 1fr 1fr 1fr 0.35fr 0.35fr 0.35fr;
  grid-template-areas: 
    "Nav-Home Nav-Playlist Nav-About" 
    "Nav-Search Nav-Profile Nav-Profile" 
    "Main Main Main" 
    "Main Main Main" 
    "Main Main Main" 
    "Main Main Main" 
    "Aside Aside Aside" 
    "Aside Aside Aside"
    "Aside Aside Aside";
}
.Site-LoggedIn {
  grid-template-areas: 
    "Nav-Home Nav-Playlist Nav-About" 
    "Nav-Search Nav-Profile Nav-Logout" 
    "Main Main Main" 
    "Main Main Main" 
    "Main Main Main" 
    "Main Main Main" 
    "Aside Aside Aside" 
    "Aside Aside Aside"
    "Aside Aside Aside";
}

.Main { grid-area: Main; }
.Aside { grid-area: Aside; }
.Nav-Home { grid-area: Nav-Home; }
.Nav-Playlist { grid-area: Nav-Playlist; }
.Nav-Profile { grid-area: Nav-Profile; }
.Nav-About { grid-area: Nav-About; }
.Nav-Search { grid-area: Nav-Search; }
.Nav-Logout { grid-area: Nav-Logout; }

.Main,
.Aside,
.Nav-Home,
.Nav-About,
.Nav-Playlist,
.Nav-Profile,
.Nav-Search,
.Nav-Logout {
  display: flex;
  justify-content: center;
  align-items: center;
}