*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  color: white;
  background-color: #1d1924;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0;
}

ol,
ul {
  list-style: square;
  margin: 0 0 1.5em;
  padding: 0 0 0 1.5em;
}

li {
  margin-bottom: 0.333em;
}

figure {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

strong {
  font-weight: 600;
}

a {
  color: #b3b3b3;
}

button {
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px;
}

input[type="range"] { 
  cursor: pointer;
  height: 7.5px;
  -webkit-appearance: none; 
  z-index: 200; 
  border: 1px solid #b3b3b3; 
  background-color: #b3b3b3; 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b3b3b3), to(white)); 
  background-image: -webkit-linear-gradient(right, #b3b3b3, white); 
  background-image: -moz-linear-gradient(right, #b3b3b3, white); 
  background-image: -ms-linear-gradient(right, #b3b3b3, white); 
  background-image: -o-linear-gradient(right, #b3b3b3, white); 
}

input[type="range"]:focus {
  border: 0 !important;
  outline: none !important; 
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  width: 8px; 
  height: 8px; 
  background-color: #815fdd; 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8a6fd6), to(#815fdd)); 
  background-image: -webkit-linear-gradient(right, #8a6fd6, #815fdd); 
  background-image: -moz-linear-gradient(right, #8a6fd6, #815fdd); 
  background-image: -ms-linear-gradient(right, #8a6fd6, #815fdd); 
  background-image: -o-linear-gradient(right, #8a6fd6, #815fdd); 
}

input[type="range"] {
  -webkit-border-radius: 20px; 
  -moz-border-radius: 20px; 
  border-radius: 20px; 
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  -o-border-radius: 5px; 
  border-radius: 5px;
}