.load-icon {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.load-icon:after {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid white;
  border-color: white transparent white transparent;
  animation: load-icon 1.2s linear infinite;
}
@keyframes load-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}