.mobile-resize {
  display: flex;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90%;
  height: 50px;
}

.mobile-resize button {
  color: white;
  margin: 0.3em;
  font-size: 0.8em;
}
.mobile-resize__button--active {
  background-color: $light-pink;
}