.modal__background {
  background-color: transparent;
  position: relative;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
}

.modal__child {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: initial;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  background: $blue;
  width: 100%;
  border-top: 1px solid white;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid white;
  height: 3em;
  transition: opacity 0.5s linear, height 0.5s step-start;
}

.modal__child--hidden {
  opacity: 0;
  height: 0;
  transition-timing-function: linear, step-end;
}

.modal__child__text {
  padding: 0.5em;
  color: white;
}

