.profile__playlist__header {
  margin-block-start: 0;
  margin: 0 0.5em 1em 1em;
}

.profile__playlist .fa-play-circle {
  font-size: 200% !important;
  color: $pink;
}
.profile__playlist .fa-play-circle:hover {
  color: $light-pink;
  transition: 0.5s ease;
}

.profile__playlist__name {
  color: $light-gray;
}

.profile__playlist__image--loaded {
  border: 3px solid $pink;
}




