.session-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em;
  width: 66%
}

.session-form__input {
  color: white;
  border-bottom: 1px solid $light-gray;
}
.session-form__input::placeholder {
  color: $light-gray;
}
.session-form__input:focus {
  border-bottom: 1.5px solid white;
}

.session-form__errors {
  align-self: flex-start;
  list-style-position: inside;
  font-size: 0.6em;
  color: $light-pink;
  padding-inline-start: 0;
}

.session-form__button {
  background-color: $pink;
  color: white;
  width: 100%;
  padding: 0.5em;
  margin: 0.2em;
  border-radius: 4px;
}
.session-form__button:hover {
  background-color: $light-pink;
}

.session-form__text {
  font-size: 0.55em;
}
.session-form__link {
  text-decoration: underline;
}
