.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Grid-cell {
  flex: 1;
}

.Grid--justifyCenter {
  justify-content: center;
}
.Grid--justifyFlexStart {
  justify-content: flex-start;
}
.Grid--alignItemsCenter {
  align-items: center;
}

.Grid-cell--autoSize {
  flex: none;
}