.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.Grid--justifySpaceAround {
  justify-content: space-around;
}
.Grid--center {
  align-items: center;
}

.Grid-cell {
  flex: 1;
}
.Grid-cell--center {
  align-self: center;
}

