.Main {
  width: 1024px;
  height: 768px;
  border: 5px solid white;
  border-radius: 5px;
  overflow:hidden;
  display: flex;
  flex-direction: column;
}

.Main-body {
  display: flex;
  justify-content: space-around;
  flex: 1 0 auto;
  flex-direction: row;
}

.Main-nav {
  order: -1;
  position: sticky;
  top: 0;
  flex: 0 0 60px;
  border-bottom: 2px solid white;
}

.Main-content {
  flex: 1;
  overflow: scroll;
  height: 768px;
  margin: 10px;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.Main-aside {
  margin: 10px;
  flex: 0 0 38.5%;
}
