.Main-content figure {
  margin: 0 auto;
}

.Main-content .Feature > figure {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%)
}

.Main-content .Feature p {
  text-align: center;
}

.Main-content .Feature > figure button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Main-content .Feature > figure button {
  color: white;
}

.Main-content .Feature > figure button i {
  font-size: 40px;
}

.Main-content .Feature-image {
  filter: brightness(80%);
}

.Main-content .Feature > figure:hover {
  button {
    display: block;
  }
  .Feature-image {
    filter: brightness(100%);
  }
}



