#SoundWave {
  position: relative;
  margin-bottom: 0.3em;
}

.wave {
  background: rgb(136, 11, 209);
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 3px;      
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
     opacity: .35;
      height: 0.3em; 
  }
  100% {
      opacity: 1;       
      height: 1em;        
  }
}

.wave:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.wave:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.wave:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.wave:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.wave:nth-child(5)  { left: 17px; animation-duration: 400ms; }