.SpinningDisc {
  grid-area: SpinningDisc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.SpinningDisc > img {
  object-fit: cover;
  max-height: 90%;
  max-width: 90%;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0.5em rgba(0,0,0,0.15);
}

.SpinningDisc--spin > img {
  animation: spin infinite 20s linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}