.PlaylistForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "PlaylistName"
    "Buttons";

  width: 90%;
  height: 17%;
  border: 1.5px solid $pink;
  border-radius: 4px;
  border-bottom-right-radius: 10px;
}
.PlaylistForm:hover {
  border-color: $light-pink;
}

.PlaylistName { 
  grid-area: PlaylistName; 
  color: white;
  font-weight: 600;
  padding: 0.2em;
}
.PlaylistName::placeholder {
  color: $light-gray;
}

.PlaylistForm .Buttons { 
  grid-area: Buttons; 
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.PlaylistForm .Buttons button {
  background-color: $pink;
  color: white;
  padding: 0 0.2em;
  border-radius: 2px;
  border-radius: 10px;;
  height: 80%;
}
.PlaylistForm .Buttons button:hover {
  background-color: $light-pink;
}
