// .PlaylistForm {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   width: 90%;
//   border: 1px solid $pink;
//   // height: 200px;
//   margin: 0.5em 0;
//   border-radius: 4px;
// }

// .PlaylistForm input {
//   color: white;
//   margin-top: 0;
// }
// .PlaylistForm input::placeholder {
//   color: $light-gray;
// }

// .PlaylistForm div {
//   align-self: flex-end;
// }
// .PlaylistForm button {
//   background-color: $pink;
//   color: white;
//   font-size: 0.8em;
//   // padding-bottom: 1em;
//   border-radius: 3px;
// }

.PlaylistForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "PlaylistName"
    "Buttons";

  width: 90%;
  height: 17%;
  border: 1.5px solid $pink;
  border-radius: 4px;
  border-bottom-right-radius: 10px;
}

.PlaylistName { 
  grid-area: PlaylistName; 
  color: white;
  font-weight: 600;
  padding: 0.2em;
}
.PlaylistName::placeholder {
  color: $light-gray;
}

.Buttons { 
  grid-area: Buttons; 
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.Buttons button {
  background-color: $pink;
  color: white;
  padding: 0 0.2em;
  border-radius: 2px;
  border-radius: 10px;;
  height: 80%;
}
