.Row-List {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.Row-List__Item {
  flex: none;
  width: 33.333%;
}

.Row-List__Item .image-wrapper {
  margin: 0.5em;
  margin-top: 0;
}

.Row-List__Item .image-wrapper figure {
  position: relative;
  overflow: hidden;
}
.Row-List__Item .image-wrapper figure:hover {
  button {
    display: block;
  }
  button:hover {
    color: white;
  }
  img {
    filter: brightness(100%);
  }
}

.Row-List__Item .image-wrapper figure > img {
  width: 100%;
  height: auto;
  filter: brightness(90%);
  transition: 0.3s ease;
  border-radius: 4px;
}

.Row-List__Item .image-wrapper figure > button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $light-gray;
  transition: 0.5s ease;
}

.Row-List__Item .image-wrapper figure > button i {
  font-size: 250%;
}
.Row-List__Item .image-wrapper__artist {
  font-weight: 500;
  color: $light-gray;
}

.Row-List__Item h5 {
  font-size: 0.7em;
}

