.SessionForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5em;
}

.SessionForm input {
  color: white;
  border-bottom: 1px solid $light-gray;
}
.SessionForm input::placeholder {
  color: $light-gray;
}
.SessionForm input:focus {
  border-bottom: 1px solid white;
}

.SessionForm button {
  align-self: center;
  background-color: $pink;
  color: white;
  width: 90%;
  padding: 0.5em;
  margin: 0.2em;
  border-radius: 4px;
}

.SessionForm p {
  align-self: center;
  font-size: 0.6em;
}
.SessionForm a {
  text-decoration: underline;
}
