.SongIndexContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.SongIndexItem {
  flex: none;
  width: 33.333%;
  // width: 50%;
}

.SongIndexItem div {
  margin: 0.5em;
  margin-top: 0;
}

.SongIndexItem figure {
  position: relative;
  overflow: hidden;
}

.SongIndexItem figure > img {
  width: 100%;
  height: auto;
  filter: brightness(90%);
  transition: 1s ease;
  border-radius: 4px;
}

.SongIndexItem figure > button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $light-gray;
  transition: 0.5s ease;
}

.SongIndexItem figure > button i {
  font-size: 250%;
}

.SongIndexItem figure:hover {
  button {
    display: block;
  }
  button:hover {
    color: white;
  }
  img {
    filter: brightness(100%);
  }
}

.SongIndexItem h5 {
  font-size: 0.7em;
}
.SongIndexItem .artist {
  font-weight: 500;
  color: $light-gray;
}

