.Nav-Home,
.Nav-Playlist,
.Nav-Profile {
  background-color: $light-pink;
  border: 1px solid white;
}

.Nav-About,
.Nav-Search {
  background-color: $pink;
  border-top: 2px solid white;
}

.Nav-Search {
  justify-content: flex-end;
}
.Nav-Search input {
  width: 90%;
  color: white;
  border-bottom: 1px solid white;
  text-align: center;
  font-size: 0.8em;
}
.Nav-Search input::placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

