.AudioPlayerContainer { 
  height: 90%; 
  width: 90%;
}

.AudioPlayerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "SpinningDisc SpinningDisc SpinningDisc SpinningDisc Marquee Marquee Marquee Marquee Marquee Marquee Marquee Marquee Marquee" 
    "SpinningDisc SpinningDisc SpinningDisc SpinningDisc Controls1 Controls1 Controls1 Controls1 Controls2 Controls2 Controls2 Controls2 Controls2" 
    "SpinningDisc SpinningDisc SpinningDisc SpinningDisc SeekSlider SeekSlider SeekSlider SeekSlider SeekSlider SeekSlider SeekSlider SeekSlider SeekSlider";
}

.SpinningDisc {
  grid-area: SpinningDisc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SpinningDisc > img {
  justify-self: center;
  object-fit: cover;
  max-height: 80%;
  border-radius: 50%;
  animation: spin infinite 20s linear;
}

.Marquee { 
  grid-area: Marquee;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 5px;
}
.Marquee > p {
  display: flex;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  padding-left: 280%;
  text-indent: 0;
  animation: marquee 10s linear infinite;
}
.Marquee img {
  height: 25px;
  border-radius: 25%;
  display: inline-block;
  margin-right: 1em;
}

.Controls1,
.Controls2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0.2em;
}

.Controls1 { 
  grid-area: Controls1; 
  margin-left: 2em;
}

.Controls2 { 
  grid-area: Controls2; 
  justify-content: flex-end;
}
.Controls2 input {
  width: 35%;
}

.Controls1 button, 
.Controls2 button {
  font-size: 1.6em;
  color: $light-gray;
}

.Controls1 button:hover,
.Controls2 button:hover {
  color: white;
}

.Controls1 .active, 
.Controls2 .active {
  color: white;
}

.Controls1 button {
  padding: 2.5px;
}

.Controls1 .fa-play-circle,
.Controls1 .fa-pause-circle {
  font-size: 1.9em;
}

.Controls2 .fa-random {
  font-size: 0.95em;
}

.Controls2 .fa-redo-alt {
  font-size: 0.85em;
}

.Controls2 .fa-volume-up {
  font-size: 1.05em;
}

.SeekSlider { 
  grid-area: SeekSlider; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.SeekSlider input[type="range"] {
  width: 50%;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}